<div class="container" style="align-self: center; background-color: #fefefe; max-height: 100%">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-md-12">
        <a class="h3 navbar-brand" href="/">Multimedia Album</a>
        <div class="collapse navbar-collapse" id="navbar1">
  

            <a class="btn btn-secondary" href="" routerLink="/register">Registrar</a>
            <a class="btn btn-secondary" href="" routerLink="/login">Login</a>


            <a class="btn btn-secondary" href="" routerLink="/edit">Editar</a>
            <a class="btn btn-secondary" href="" (click)="logOut()">Logout</a>

        </div>
      </nav>
    </div>