<!-- Card que contiene cada elemento mutlimedia-->
<div *ngIf="multimedia">
  <div class="row" style="padding-top: 10px">
    <div class="col-lg-6 col-md-6 col-xs-6 thumb rounded mx-auto d-block">
      <div class="card mb-4 shadow-sm">
        <img src="{{multimedia.url}}" width="100%" height="100%" />
        <div class="card-body">
          <h5 class="card-title">{{multimedia.name}}</h5>
          <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Autor: </b>{{multimedia.autor}}</p>
          <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Fecha: </b>{{multimedia.fecha_creacion}}</p>
          <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>País: </b>{{multimedia.pais}}</p>
          <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Ciudad: </b>{{multimedia.ciudad}}</p>
          <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Creado por: </b>{{multimedia.autor}}</p>
          <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Tipo: </b>{{multimedia.type}}</p>
          <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Categoria: </b>{{multimedia.type}}</p>
          <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Descrpción: </b>{{multimedia.description}}</p>
          <button class="btn btn-secondary" (click)="goBack()">Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
