<!-- Card que contiene cada elemento mutlimedia-->
<br/>
<div class="row">
  <div *ngFor="let multimedia of multimedias" class="col-lg-4 col-md-4 col-xs-6 thumb">
    <div class="card mb-4 shadow-sm" *ngIf="multimedia.type=='1' || multimedia.type=='3'">
      <div class="embed-responsive embed-responsive-4by3">
          <iframe class="e2e-iframe-trusted-src embed-responsive-item" [src]="multimedia.url"></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{multimedia.titulo}}</h5>
        <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Autor: </b>{{multimedia.autor}}</p>
        <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Fecha: </b>{{multimedia.fecha_creacion}}</p>
        <a href="" routerLink="/detail/{{multimedia.id}}" class="btn btn-secondary">Detalle</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm" *ngIf="multimedia.type=='2'">
      <img src="{{multimedia.url}}" width="100%" height="100%" />
      <div class="card-body">
        <h5 class="card-title">{{multimedia.titulo}}</h5>
        <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Autor: </b>{{multimedia.autor}}</p>
        <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Fecha: </b>{{multimedia.fecha_creacion}}</p>
        <a href="" routerLink="/detail/{{multimedia.id}}" class="btn btn-secondary">Detalle</a>
      </div>
    </div>
  </div>
</div>
