<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Detalle</title>
</head>
<body style="background: url(../../../files/fondo.jpg) no-repeat center center fixed">
<div class="container" style="align-self: center; background-color: #fefefe; max-height: 100%">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-md-12">
            <a class="navbar-brand" href="/">Multimedia Album</a>
			<div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">

                    </li>
                    <li class="nav-item">

                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Card que contiene cada elemento mutlimedia-->
    <div class="row" style="padding-top: 10px">
        <div class="col-lg-6 col-md-6 col-xs-6 thumb rounded mx-auto d-block">
            <div class="card mb-4 shadow-sm">
                {% if media.tipo == tipo_Imagen %}
                {% if media.archivo == '' %}
                <img class="card-img-top" alt="{{media.titulo}}" src="{{media.url}}" />
                {% else %}
                <img class="card-img-top" alt="{{media.titulo}}" src="/{{media.archivo}}" />
                {% endif %}
                {% else %}
                {% if media.archivo == '' %}
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="{{media.url}}" frameborder="0" allowfullscreen  autoplay="1"></iframe>
                </div>
                {% else %}
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="/{{media.archivo}}" frameborder="0" allowfullscreen controls></iframe>
                </div>
                {% endif %}
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{media.titulo}}</h5>
                    <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Autor:</b> {{media.autor}}</p>
					<p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Fecha: </b> {{media.fecha_creacion}}</p>
                    <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>País: </b>{{media.pais}}</p>
                    <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Ciudad:</b> {{media.ciudad}}</p>
                    <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Creado por: </b>{{media.usuario}}</p>
                    <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Tipo:</b> {{media.tipo}}</p>
                    <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"> {{media.categoria}}</p>
                    <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"> {{media.info}}</p>
                </div>
            </div>

        </div>
    </div>

    <!-- Clips recomendados -->
    <div class="row" style="padding-top: 10px">
        <div class="col-lg-6 col-md-6 col-xs-6 thumb rounded mx-auto d-block">
            <div class="">
                <fieldset class="border p-2">
                    <legend  class="w-auto">Clips recomendados</legend>
                    <div class="d-flex">
                        <ul class="mx-auto justify-content-center">
                            {% for clip in clipsRecomendatos %}
                            <li class="">
                                {{ clip.nombre }}
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#clipModal{{clip.id}}">
                                  Play
                                </button>
                            </li>
                                <!-- Modal -->
                                <div class="modal fade" id="clipModal{{clip.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Reproducir clip</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Nombre:</b> {{clip.nombre}}</p>
                                        <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Seg. Inicio: </b> {{clip.segundoInicio}}</p>
                                        <p class="card-text" style="overflow: hidden;  text-overflow: ellipsis;"><b>Seg. Fin: </b>{{clip.segundoFinal}}</p>
                                         {% if media.tipo == tipo_Video %}
                                            {% if media.archivo == '' %}
                                                <iframe src="{{media.url}}?start={{clip.segundoInicio}}&end={{clip.segundoFinal}}&controls=0" frameborder="0" allowfullscreen></iframe>
                                            {% else %}
                                                <iframe src="/{{media.archivo}}?start={{clip.segundoInicio}}&end={{clip.segundoFinal}}&controls=0" frameborder="0" allowfullscreen controls></iframe>
                                            {% endif %}
                                         {% else %}
                                             <audio controls autoplay>
                                             {% if media.archivo == '' %}
                                                <source src="{{media.url}}#t={{clip.segundoInicio}},{{clip.segundoFinal}}" ></source>
                                            {% else %}
                                                <source src="/{{media.archivo}}#t={{clip.segundoInicio}},{{clip.segundoFinal}}"></source>
                                            {% endif %}
                                              Your browser does not support the audio element.
                                            </audio>
                                        {% endif %}
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            {%endfor%}
                        </ul>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
    <!-- Agregar Clip -->
        <div class="row" style="padding-top: 10px">
            <div class="col-lg-6 col-md-6 col-xs-6 thumb rounded mx-auto d-block">
                <div class="">
                    <fieldset class="border p-2">
                        <legend  class="w-auto">Agregar Clip</legend>
                            <!-- Form para agregar clip-->
                            <div class="row" style="padding: 20px; align-self: center">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    {% block content %}
                                    <form method="post" novalidate>
                                        {% csrf_token %}

                                        {% load widget_tweaks %}

                                        {% for hidden_field in form.hidden_fields %}
                                        {{ hidden_field }}
                                        {% endfor %}

                                        {% if form.non_field_errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for error in form.non_field_errors %}
                                            {{ error }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}

                                        {% for field in form.visible_fields %}
                                        <div class="form-group">
                                            {{ field.label_tag }}

                                            {% if form.is_bound %}
                                            {% if field.errors %}
                                            {% render_field field class="form-control is-invalid" %}
                                            {% for error in field.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                            {% endfor %}
                                            {% else %}
                                            {% render_field field class="form-control is-valid" %}
                                            {% endif %}
                                            {% else %}
                                            {% render_field field class="form-control" %}
                                            {% endif %}

                                            {% if field.help_text %}
                                            <small class="form-text text-muted">{{ field.help_text }}</small>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                        <button type="submit" class="btn btn-warning">Guardar</button>
                                    </form>
                                    {% endblock %}
                                </div>
                            </div>
                    </fieldset>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row" style="padding: 20px">
        <div class="col text-center">
            <a  href="/" class="btn btn-secondary">Devolver</a>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small pt-4 bg-dark"  style="color: #fff;">
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
            <!-- Footer links -->
            <div class="row text-center text-md-left mt-3 pb-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">PROYECTO GALERÍA</h6>
                    <p>Es una galería que nos muestra imágenes, videos y audios. Podemos ver el detalle de cada archivo
                        multimedia y agregar clips.</p>
                </div>
                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none">
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">INTEGRANTES</h6>
                    <p>
                        <span>Camilo Andres Sánchez Salamanca</span>
                    </p>
                    <p>
                        <span>Daury Nathaly Lecca Hernandez</span>
                    </p>
                    <p>
                        <span>Hada Natalia Angel Cruz</span>
                    </p>
                </div>
                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold" style="color:#343a40">XXXXX</h6>
                    <p>
                        <span>Julian Andres Picon Rincon</span>
                    </p>
                    <p>
                        <span>Nicolás Lema Rodríguez</span>
                    </p>
                    <p>
                        <span>Rafael Alexander Bermudez Riveros</span>
                    </p>
                </div>
                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none">
            </div>
            <hr>
            <!-- Grid row -->
            <div class="row d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8">
                    <!--Copyright-->
                    <p class="text-center text-md-left">© 2019 Copyright:
                        <strong>Procesos ágiles de desarrollo de software</strong>
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </footer>
    <!-- Footer -->
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reproducir clip</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>